h1 {font-family: Arial, Helvetica, sans-serif;

}
p {color: rgb(12, 14, 13);
}
body {text-align: center;
}

.container {
    margin: 5%;
    width: 80%;   
    margin: auto;
    padding: 10px;
}
.aqua {
    background:aqua;   
}
.greenyellow{
    background:greenyellow;
}
.card{
    height: 100%;
    width: 50%;
    float: right;
    min-height: 200px
}
.lefty {
    float: left;
}
.righty{
    float: right;
}



/* ================================= 
Media Queries
==================================== */
@media only screen and (max-width: 800px) {
    body {
        background-color: lightblue;
        
    }
    .lefty {
        width: 100%;
        float: none;
        min-height: unset;
    }
    .righty{
        width: 100%;
        float: none;
        min-height: unset;

    }
    
}